<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/theme.css">
  </head>
  <body>
    <div class="image">
      <div class="thumb circular" style="background: url(http://windowsinstructedmain.windowsinstructe.netdna-cdn.com/wp-content/plugins/wp-user-avatar/images/wpua-150x150.png)"></div>
      <h1>error</h1>
    </div>
    <div class="text">
      <p>
        <%= content %>
      </p>
    </div>
    <footer>
      <p>You can contact me at <a href="https://twitter.com/eryarslan">@eryarslan</a></p>
    </footer>
  </body>
</html>
