<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/theme.css">
  </head>
  <body>
    <div class="profile">
      <div class="thumb circular" style="background: url(http://blog.emsisoft.com/wp-content/uploads/2014/12/steam-logo-e1420051090653.png)"></div>
      <h1>login</h1>
    </div>
    <div class="text">
      <p>
        <a href='/authenticate'>
          <img src='https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_small.png'>
        </a>
      </p>
    </div>
    <footer>
      <p>You can contact me at <a href="https://twitter.com/eryarslan">@eryarslan</a></p>
    </footer>
  </body>
</html>
